:root {
  --Dark-Grayish-Red: hsl(0, 6%, 24%);
  --Grayish-Blue: hsl(240, 18%, 77%);
  --Desaturated-Red: hsl(0, 36%, 70%);
  --Soft-Red: hsl(0, 93%, 68%);
}

@media (min-width: 576px) {

html {
  font-family: 'Josefin Sans', sans-serif;
  height: 100%;
  /* margin: 0;
  padding: 0; */
}

body{
  margin: 0;
  padding: 0;
  background-color: hsl(0, 100%, 98%);
  height: 100%;
}

div{
  margin: 0;
  padding: 0;
}

.parent{
  margin-left: 200px;
  display: flex;
  height: 100%;
}

.item{
  width: 60%;
  padding: 2em;
  /* color: #ffffff;
  background: #eeeeee; */
  /* min-height: 500px; */
  /* height: 100%; */
}

.container-2{
  width: 40%;
  background: url(images/hero-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


/* header{
  margin: 0;
  padding: 0;
} */

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* .person-img{
  position: absolute;
} */


.logo-header{
  /* width: 100%; */
  height: 80px;
  display: flex;
  align-items: center;
  /* background-color: white; */
  margin: 0;
  /* padding-left: 20px; */

}

.logo-header img{
  width: auto;
  height: 40px;
}

.container{
  width: 600px;
  text-align: left;
}

/* .person-img{
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;
} */

.title{
  /* display: flex;
  justify-content: center; */
  color: var(--Desaturated-Red);
  font-weight: 300;
  font-size: 70px;
  /* text-align: center; */
  /* margin: 0 40px; */
  letter-spacing: 8px;
  padding-top: 150px;
}

.title-bold{
  color: hsl(0, 6%, 24%);
  font-weight: 600;
  letter-spacing: 12px;
}

.content{
  padding-top: 20px;
  /* text-align: center; */
  font-size: 18px;
  color: var(--Desaturated-Red);
  line-height: 30px;
}

.back-color{
  background-color: hsl(0, 100%, 98%);
  height: 100%;
}



.flex-form {
  /* display: flex;
  z-index: 10;
  position: relative;
  width: 100%;
  border: 1px solid var(--Desaturated-Red);
  border-radius: 35px;
  margin-top: 55px; */
  display: flex;
  align-items: center;
  position: relative;
  width: 80%;
  max-width: 400px;
  margin-top: 55px;
  outline: 0;
}

#email{
  color: var(--Desaturated-Red);
  background-color: hsl(0, 100%, 98%);
  border: 1px solid var(--Desaturated-Red);
  border-radius: 25px;
  width: 90%;
  padding: 17px 20px;
  display: flex;
  align-items: center;
  outline: 0;
}

.submit{
  background: linear-gradient(to right, hsl(0, 80%, 86%) , hsl(0, 74%, 74%));;
  border: none;
  border-radius: 25px;
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  height: 100%;
  outline: none;
  width: 25%;
  max-width: 100px;
  position: absolute;
  right: 0;
}

/* .flex-form > * {
  border: 0;
  padding: 0 10px 0 10px;
  background: hsl(0, 100%, 98%);
  line-height: 60px;
  font-size: 1rem;
  border-radius: 30px;

  outline: 0;
  -webkit-appearance: none;
} */

/* input[type="email"] {
  flex-basis: 500px;
  padding-left: 25px;
  color: var(--Desaturated-Red);
}

input[type="submit"] {
  flex-basis: 100px;
  background: linear-gradient(to right, hsl(0, 80%, 86%) , hsl(0, 74%, 74%));
  font-size: 40px;
  color: white;
} */


footer{
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */
  /* position: absolute;
  bottom: 0; */
  /* width: 100%;
  height: 30px;
  text-align: center; */
}

.email-error{
  color: red;
  padding-left: 20px;
  margin: 10px 0;
  display: none;

}

}

@media (max-width: 576px) {

  html {
    font-family: 'Josefin Sans', sans-serif;
    height: 100%;
    /* margin: 0;
    padding: 0; */
  }

  body{
    margin: 0;
    padding: 0;
    background-color: hsl(0, 100%, 98%);
    height: 100%;
  }

  .container-2{
    height: 300px;
    position: absolute;
    top: 100px;
    background: url(images/hero-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }

  .attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }

  .logo-header{
    /* width: 100%; */
    height: 100px;
    display: flex;
    align-items: center;
    background-color: white;
    margin: 0;
    /* padding: 0; */
    padding-left: 20px;

  }

  .logo-header img{
    width: auto;
    height: 25px;
  }

  .container{
    width: 400px;
    text-align: center;
    display: flex;
    align-items: center;
    margin: auto;
  }

  /* .person-img{
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    left: 0;
    right: 0;
  } */

  .title{
    /* display: flex;
    justify-content: center; */
    color: var(--Desaturated-Red);
    font-weight: 300;
    font-size: 55px;
    /* text-align: center; */
    /* margin: 0 40px; */
    letter-spacing: 8px;
    padding-top: 350px;
  }

  .title-bold{
    color: hsl(0, 6%, 24%);
    font-weight: 600;
    letter-spacing: 12px;
  }

  .content{
    padding-top: 20px;
    /* text-align: center; */
    font-size: 18px;
    color: var(--Desaturated-Red);
    line-height: 30px;
  }

  .back-color{
    background-color: hsl(0, 100%, 98%);
    height: 100%;
  }



  .flex-form {
    /* display: -webkit-box; */
    display: flex;
    z-index: 10;
    position: relative;
    width: 100%;
    border: 1px solid var(--Desaturated-Red);
    border-radius: 35px;
    margin-top: 55px;
    /* box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3); */
  }

  .flex-form > * {
    border: 0;
    padding: 0 10px 0 10px;
    background: hsl(0, 100%, 98%);
    line-height: 60px;
    font-size: 1rem;
    border-radius: 30px;

    outline: 0;
    -webkit-appearance: none;
  }

  input[type="email"] {
    flex-basis: 500px;
    padding-left: 25px;
    color: var(--Desaturated-Red);
    /* border-radius: 50px; */
  }

  input[type="submit"] {
    flex-basis: 100px;
    background: linear-gradient(to right, hsl(0, 80%, 86%) , hsl(0, 74%, 74%));
    font-size: 40px;
    color: white;

    /* border-radius: 50px; */
  }

  .flex-form input[type="submit"]:hover {
    /* background: #d73851; */
    /* border: 1px solid #d73851; */
  }

  footer{
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
    /* position: absolute;
    bottom: 0; */
    /* width: 100%;
    height: 30px;
    text-align: center; */
  }

  .email-error{
    color: red;
    padding-left: 20px;
    margin: 10px 0;
    display: none;

  }

}
